:root {
  --light-blue: #00aaff;
  --light-gray: #222529;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.on-boarding {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;

  & > * {
    width: 30%;
    font-size: 20px;
    margin-inline: auto;
    padding: 25px;
    text-align: center;
    border-radius: 50px;
    outline: none;
  }
  .option {
    background-color: var(--light-blue);
    color: white;
  }
  .rooms {
    width: 100%;
    gap: 25px;
    display: flex;
    flex-direction: column;
    input,
    button {
      width: 30%;
      font-size: 20px;
      margin-inline: auto;
      padding: 25px;
      text-align: center;
      border-radius: 50px;
      outline: none;
    }
    button {
      background-color: var(--light-blue);
      color: white;
      border: none;
    }
  }
}


.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  border: white 1px;
  width: 100vw;
  height: 100vh;
  background-color: var(--light-gray);
  color: rgb(201, 209, 217);
  
  .chat-display {
    background-color: var(--light-gray);
    width: 80%;
    height: 90%;
    border: solid 1px rgb(201, 209, 217);
    display: flex;
    .sidebar {
      display: none;
      width: 20%;
      border: solid 1px rgb(201, 209, 217);
    }
    .chatroom {
      width: 100%;
      display: flex;
      flex-direction: column;
      .messages {
        height: 100%;
        border: solid 1px rgb(201, 209, 217);
        overflow-y: scroll;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
        padding-inline: 10px;
        .message {
          display: flex;
          flex-direction: column;
          font-size: 18px;
          border: solid 1px rgb(201, 209, 217);
          border-radius: 15px;
          width: 100%;
          padding: 10px;
          .user {
            display: flex;
          }
          .message-details {
            display: flex;
            align-items: center;
            gap: 10px;
            .message-text {
            }
          }
        }
      }
      .editor-div-chat {
        position: relative;
        height: 50%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow-y: scroll;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
        button.send {
          position: absolute;
          cursor: pointer;
          background: green;
          outline: none;
          border: none;
          border-radius: 5px;
          padding: 5px 0px 0px 5px;
          width: 77px;
          align-self: flex-end;
          text-align: left;
          top: 60%;
          transform: translate(-10px, 65%);
        }
      }
    }
  }
}

.demo-wrapper {
  height: 80%;
  border: solid 1px white !important;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  .bottom-left {
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-825%, 350%);
  }
}
.demo-editor {
  height: 50% !important;
  flex: 1;

}
.rdw-editor-toolbar,
.rdw-option-wrapper {
  background-color: var(--light-gray) !important;
  border: black !important;
}
.rdw-suggestion-dropdown {
  background-color: #474747 !important;
  border: white !important;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .demo-wrapper .bottom-left {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
  }
}
